.danh-sach-lop-hoc-phan {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
      font-weight: bold;
      font-size: 23px;
    }

    &__right {
      display: flex;
      align-items: center;
      column-gap: 16px;
    }
  }
}
