.khoaHoc {
  margin: 0px;

  .ant-divider.ant-divider-horizontal {
    margin: 16px 0;
  }

  &__action {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 16px;
  }

  h1 {
    margin: 0px;
    text-align: center;
  }
  .ant-btn-primary {
    margin-bottom: 5px;
  }
}
